alias ls='ls --color'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias grep='grep -E'
alias findfile='sudo find / -iname'
alias findpath='sudo find / -path'
alias cl='clear && ls'
alias cll='clear && ll'
alias vim='nvim'

if [ -d /mnt/wsl ]; then
    alias ssh='/mnt/c/Windows/System32/OpenSSH/ssh.exe'
    alias ssh-add='/mnt/c/Windows/System32/OpenSSH/ssh-add.exe'
fi
