[user]
    name = Seth Raymond
    email = seth.c.raymond@gmail.com
[core]
    autocrlf = false
    editor = nvim
    sshCommand = "if [ -d /mnt/wsl ]; then CMD='/mnt/c/Windows/System32/OpenSSH/ssh.exe'; else CMD='ssh'; fi; $CMD"
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    supdate = submodule update --recursive --init
    sclone = clone --recurse-submodules
    pushf = push --force-with-lease
[push]
    recurseSubmodules = check
[init]
    defaultBranch = main
[includeIf "gitdir:~/devspace/"]
    path = ~/.work.gitconfig
[includeIf "gitdir:/workspaces/"]
    path = ~/.work.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /workspaces/dopplerspace
