alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias grep='grep -E'
alias findfile='sudo find / -iname'
alias findpath='sudo find / -path'
alias cl='clear && ls'
alias cll='clear && ll'
alias vim='nvim'
