.ICEauthority
.Xauthority
.altera.quartus/
.arduino/
.arduino15/
.bash_history
.bash_logout
.cache/
.calc_history
.checkinternet
.compiz/
.config/
.cpan/
.dmrc
.dropbox-dist/
.dropbox/
.eaglerc
.gEDA/
.gconf/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.hplip/
.java/
.jssc/
.lesshst
.local/
.matlab/
.mozilla/
.pcb/
.perlbrew/
.pki/
.profile
.pulse-cookie
.restartwifi
.rpmdb/
.selected_editor
.shutter/
.ssh/
.standard.dwf3work
.steam/
.steampath
.steampid
.subversion/
.thumbnails/
.thunderbird/
.vim/
.viminfo
.wine/
.xinputrc
.xournal/
.xsession-errors
.xsession-errors.old
Arduino/
Desktop/
Documents/
Downloads/
Dropbox/
Pictures/
Software Installs/
VirtualBox VMs/
Windows_7_64-bit_Home_Premium_x64.iso
altera/
arduino_projects/
backtrace.txt
eagle-7.4.0/
ece331/
ece471/
ece473/
examples.desktop
hkn_logo.png
insurance_card.pdf
pcb/
perl5/
raspi-bkp/
recipe.txt
recipe.txt~
retirement.doc
rtype_test.asm
rtype_test_bin.txt
rtype_test_hex.txt
sampleperl/
samsung_magician_dc-v1.0_rtm_p2/
seniorproject/
share/
sketchbook/
stcharles_apartment_list.txt
stcharles_apartment_list.txt~
tmp.ods
westchesteratpavilions_apartment_list.txt
win10boot/
