[Unit]
After=graphical-session.target ssh-agent-proxy.socket
Wants=ssh-agent-proxy.socket
[Service]
Type=oneshot
ExecStart=/usr/bin/pkill -x ssh-agent
ExecStart=/usr/bin/systemctl --user unset-environment SSH_AGENT_PID
ExecStart=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/ssh-agent-proxy.sock
ExecStart=/usr/bin/dbus-update-activation-environment --systemd SSH_AUTH_SOCK
[Install]
WantedBy=graphical-session.target
